@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBMPlexSansArabic';
  src: url('/assets/en__catalogs_masterpage_BOG_asset_fonts_IBMPlexSansArabic-Regular.woff2.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansArabic';
  src: url('/assets/en__catalogs_masterpage_BOG_asset_fonts_IBMPlexSansArabic-Medium.woff2.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansArabic';
  src: url('/assets/en__catalogs_masterpage_BOG_asset_fonts_IBMPlexSansArabic-SemiBold.woff2.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansArabic';
  src: url('/assets/en__catalogs_masterpage_BOG_asset_fonts_IBMPlexSansArabic-Bold.woff2.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBMPlexSansArabic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
  direction: rtl;
  text-align: right;
}
