# Dependencies
node_modules/
package-lock.json

# Build files
dist/
build/

# Uploads folder
backend/uploads/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp




